<div class="nav-buttons">
  <%= link_to "Anterior", pagina1_index_path, class: "btn btn-primary" %>
  <%= link_to "Siguiente", pagina3_index_path, class: "btn btn-primary" %>
</div>
<div class="image-container">
  <%= image_tag "diagrama.png" %>
</div>